:root {
  --bs-link-color-rgb: #000 !important;
}

.container {
  max-width: 1100px !important;
}

.navbar-top a {
  color: #fff;
}
.navbar-top a:hover {
  color: #fff;
}

.navbar-top ul {
  list-style-type: none;
  margin: 0;
}
.navbar-top ul li {
  font-size: 13px;
}

.social-icon a {
  color: #fff;
}

.main-content {
  min-height: 500px;
}

@media (max-width: 768px) {
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
  .post-slider .swiper-slide {
    width: 50% !important;
    margin: 0 !important;
    padding: 5px;
  }
}

.invert-image {
  filter: brightness(0) invert(1);
  -webkit-filter: brightness(0) invert(1);
}

footer .social-icon {
  border-radius: 5px 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px 3px;
  -ms-border-radius: 5px 3px;
  -o-border-radius: 5px 3px;
  padding: 5px 8px;
}
.social-icon-facebook {
  background-color: #3b5999;
}
.social-icon-whatsapp {
  background-color: #25d366;
}
.social-icon-instagram {
  background-color: #d91cac;
}
.social-icon-twitter {
  background-color: #0eb5bb;
}

.social-icon-youtube {
  background-color: #c70707;
}

.social-icon-tiktok {
  border: 1px solid #fff;
}

.footer-list-category {
  list-style-type: none;
  padding: 0;
}

.footer-list-category li {
  margin-bottom: 8px;
}

.copyright-footer {
  border-top: 1px solid #4b4b4b;
}

.copyright {
  font-size: 13px;
}

.object-fit-cover {
  object-fit: cover;
}

.image-mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
}

.headerpost {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 30px;
  margin-bottom: 20px;
  font-size: 20px;
}

.headerpost::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 5px;
  background: #212529;
  z-index: 1;
}

.headerpost::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: #eee;
}

.blog-posts .post-title h5 {
  font-size: 14px !important;
  line-height: 1.2;
  font-weight: bold;
}

.blog-posts .post-title a {
  font-size: 10px;
}
.blog-posts .date-publish {
  font-size: 11px;
}

.font-25 {
  font-size: 25px !important;
}

.font-20 {
  font-size: 20px !important;
}

.font-18 {
  font-size: 18px !important;
}

.font-16 {
  font-size: 16px !important;
}

.font-15 {
  font-size: 15px !important;
}

.font-12 {
  font-size: 12px !important;
}

a {
  text-decoration: none !important;
  color: #000;
}

.overflow-hidden {
  overflow: hidden;
}

.komodo-post-model-2 img {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.komodo-post-model-2 .image-wrapper:hover img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.section-dark .headerpost {
  display: none;
}

.post-pagination .page-item:not(:first-child) a {
  margin-left: calc(-1 * var(--bs-border-width));
}

.post-pagination a {
  position: relative;
  display: block;
  padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
  font-size: var(--bs-pagination-font-size);
  color: var(--bs-pagination-color);
  text-decoration: none;
  background-color: var(--bs-pagination-bg);
  border: var(--bs-pagination-border-width) solid
    var(--bs-pagination-border-color);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  -moz-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -ms-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.post-pagination .active a {
  z-index: 3;
  color: #fff !important;
  background-color: var(--bs-pagination-active-bg);
  border-color: var(--bs-pagination-active-border-color);
}

.height-auto {
  height: auto;
  width: auto;
}
